.container {
  font-family: "Quicksand", sans-serif;
}

.login,
.home {
  width: 200px;
  height: 200px;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formTitle {
  color: teal;
  font-weight: bold;
}

input {
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

input:focus {
  outline: none;
}

.submitButton {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.home {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.deleteButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff0f1;
  color: #d95087;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #fad4d7;
}

.error {
  font-size: 12px;
  color: crimson;
}

.success {
  font-size: 12px;
  color: green;
}
