.leftbar {
  flex: 3;
  height: calc(100vh - 51px);
  border-right: solid 1px lightgray;
}

.leftbarWrapper{
    padding: 20px;
}

@media only screen and (max-width: 940px){
  .leftbar{
    flex: 1;
  }
}