*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    /* height: 100vw; */
    border: 2px solid black;
    background: linear-gradient(135deg, rgba(252, 70, 106, 0.199), rgba(63, 94, 251, 0.199));
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    width: auto;
    margin-left: 5vw;
}
.list{
    display: flex;
    justify-content: space-between;
    margin-right: 5vw;
}
.list a{
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    font-size: 1.2rem;
    /* font-weight: 600; */
    font-weight: 600;
    list-style: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.list a:hover{
    transform: scale(1.2);
}