.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.a-card {
    width: 60%;	
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
