.menulink {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.menulink:hover {
  background-color: rgb(240, 238, 238);
}

.menuLinkText {
  margin-left: 10px;
  margin-right: 5px;
}

@media only screen and (max-width: 940px){
  .menuLinkText{
      display: none;
  }
  .menuLinkTextName{
    display: none;
  }
}