.sidebar {
  width: 72px;
  height: 100vh;
  background-color: #212121;
  color: white;
  position: sticky;
  top: 0;
}

.sidebarWrapper {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin-top: 35px;
  color: #909090;
}

.sidebarItem > span {
  margin-top: 5px;
}

.sidebarItem.active {
  color: white;
}
