.comment-wrapper{
    height: 30vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background: linear-gradient(135deg,white,rgb(209, 192, 192));
    margin-bottom: 10px;
    border-radius: 40px;
    padding: 10px;
    border: 2px solid red;
    margin-right: 10px;
    transition: ease-in-out 0.3s;
}
.comment-wrapper:hover{
    transform: scale(1.3);
}
.name{
    transition: ease-in-out 0.1s;
    transform: scale(1.1);
}
.comment{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
}
.comment #para{
    background: wheat;
}
.likes{
    display: flex;
    justify-content: space-around;
}