.i{
    /* display: flex; */
    height: 100vh;
    width: 40vw;
    /* background-color: aqua; */
    position: relative;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}
/* .i-right{
    flex: 1;
} */
.i-left-wrapper{
    height: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
    transition: ease-in-out 0.5s;
}
.i-name:hover{
    text-decoration: underline;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
    25%{transform: translateY(-50px);}
    50%{transform: translateY(-100px);}
    75%{transform: translateY(-150px);}
    100%{transform: translateY(-200px);}
    
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    /* color: #59b256; */
    color: white;
    display: flex;
    align-items: center;
}