.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}

.form {
  width: 500px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.inputS {
  flex: 1;
  height: 50px;
  padding-left: 10px;
}

.inputS:first-child {
  margin-right: 5px;
}

.inputL {
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

.textArea {
  width: 100%;
  padding-left: 10px;
}

.button {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 82, 0);
  color: white;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {

  .form {
    width: 100%;
  }

  .inputS:first-child {
    margin: 0;
  }
}
