.container {
  height: 250px;
  border-top: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  padding: 50px;
}

.title {
  font-weight: 400;
  color: white;
  background-color: rgba(0, 128, 0, 0.774);
  width: max-content;
  padding: 5px;
  transition: all 1s ease;
}

.title:hover {
  background-color: white;
  color: rgba(0, 128, 0, 0.774);
}

.linkTitle {
  text-decoration: underline;
  transform-origin: left;
  transition: all 1s ease;
}

.linkTitle:hover {
  transform: scale(1.1);
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linkText{
    margin-right: 20px;
    cursor: pointer;
}

.cardL {
  flex: 2;
}

.cardS {
  flex: 1;
}

.cardItem {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: right;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  .title,
  .linkTitle {
    font-size: 30px;
  }

  .cardItem{
    text-align: center;
  }
}
