.rightbar{
    flex: 3;
    border-left: 1px solid lightgray;
}

.rightbarWrapper{
    padding: 20px;
}

.rightButton{
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}